<h3 align="center">{{ "Tags" | trans }}:</h3><br>
{% for tag in tags %}
    <a class="btn-xs btn-primary" type="button" href="{{ path("postByTag", {'tag' : tag.getId })}}" style="margin: 1px">
        <span class="glyphicon glyphicon-tag"></span> {{ tag.name }} </a>
{% endfor %}