{% extends '@GeekBlog/Default/base.html.twig' %}
{% block body %}
    <div class="well">
        <h3>New post: <span class="glyphicon glyphicon-pencil"></span></h3>
        {{ form(form) }}
    </div>
{% endblock %}
